body {
    margin: 0;
    background-color: rgb(45, 45, 45);
}
nav{
    width: 100%;
    height: auto;
}
nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: black;
}
nav li{
    display: inline-block;
    margin: 30px 50px 30px 50px;
    text-align: center;
}
nav a{
    text-decoration: none;
    color: whitesmoke;
}
.button{
    padding: 0 25px 0 25px;
    border-left: 2px dashed whitesmoke;
    border-right: 2px dashed whitesmoke;
    height: auto;
    width: 70px;
}
.button:hover{
    background-color: rgb(50, 50, 50);
}
