body {
    margin: 0;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
    background-color: rgb(24, 24, 24);
}
main{
    width: 100%;
    text-align: center;
}


/* nav bar style */
nav{
    top: 0;
    left: 0;
    right: 0;
}
nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color:hsla(100, 100%, 0%, 0.7);
}
nav li{
    display: inline-block;
    margin: 5px 20px 5px 20px;
    text-align: center;
    vertical-align: middle;
}
nav a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: 700;
    font-family: 'Vollkorn', serif;
}
.button{
    padding: 0 25px 0 25px;
    height: auto;
    width: 70px;
}
.button:hover{
    color: tomato;
}
.logo{
    background-image: url("./images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    border-radius: 25%;
}
/* header, text content */

main{
    background-image: url("./images/topBG.png");
    background-size: contain;
    background-repeat: no-repeat;
}
header h1{
    font-size: 3em;
}
.welcome{
    padding: 150px;
    margin-bottom: 600px;
    text-align: left;
    font-size: 2em;
}
.colorHighlight{
    color: tomato;
    font-size: 1.5em;
}

/* projects grid & items */

.projectsGrid{
    display: grid;
    margin: 100px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px;
    grid-auto-rows: 300px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.item{
    display: hidden;
    width: auto;
    background-color: rgb(41, 41, 41);
    text-align: left;
    perspective: 40px;
}
.item img{
    height: 170px;
    width: 3auto;
}
.item p{
    padding-left: 10px;
}

#thumbnail{
    transition: transform 0.5s;
}
.js-slidein {
  opacity: 0;
  transform: translateY(100px);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.js-slidein-visible {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
/* responsive stuff */

@media only screen and (max-width: 1500px){
    .welcome{
        font-size: 2em;
        margin-bottom: 800px;
    }
}
@media only screen and (max-width: 1000px){
    body{
        font-size: 1.5em;
        font-family: 'Lato', sans-serif;
    }
    .welcome{
        padding: 30px 0 0 0;
        margin-top: 0;
        font-size: 1em;
        text-align: center;
    }
    nav li{ 
        margin: 8px;
    }
    .button{
        padding: 0 5px 0 5px;
    }
    .logo{
        margin: 0;
    }
    .item img{
        height: auto;
        width: 300px;
    }
    .projectsGrid{
        margin: 30px 0 30px 0;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px;
        grid-auto-rows: 200px;
        justify-items: center;
    }
}
@media only screen and (max-width: 600px){
    nav a{
        font-size: 12px;
    }
    .welcome{
        font-size: 0.6em;
        text-align: left;
    }
    main{
        background-image: url("./images/topBGm.jpeg");
        background-size: contain;
        background-position-x: 0;
    }
    body{
        font-size: 30px;
    }
    nav li{ 
        margin: 8px;
    }
    .button{
        padding: 0 5px 0 5px;
    }
    .logo{
        width: 30px;
        height: 30px;
    }
    .item img{
        height: auto;
        width: 200px;
    }
    .projectsGrid{
        margin: 30px 0 30px 0;
        grid-template-columns: minmax(200px, 1fr) minmax(250px, 1fr);
        grid-template-rows: 200px;
        grid-auto-rows: 200px;
        justify-items: center;
    }
}
@media only screen and (max-width: 450px){
    body{
        font-size: 20px;
    }
    nav li{ 
        margin: 0;
    }
    .button{
        padding: 0 5px 0 5px;
    }
    .logo{
        width: 30px;
        height: 30px;
    }
    .item img{
        height: auto;
        width: 250px;
    }
    .projectsGrid{
        margin: 30px 0 30px 0;
        grid-template-columns: minmax(150px, 1fr);
        grid-template-rows: 200px;
        grid-auto-rows: 200px;
        justify-items: center;
    }
}
