@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Roboto+Condensed:wght@300&display=swap');

* {
    margin: 0;
    padding : 0;
    font-size: 19px;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

header {
    position: fixed;
    top: 18rem;
    left: 4rem;
    padding-right: 1.5rem;
    border-right: solid 4px rgb(226, 207, 155);
    width: 7rem;
}

body {
    display: block;
    margin: 0 14rem 0 14rem;
    background-color: rgb(54, 54, 54);
    color: rgb(151, 148, 148);
    font-size: 1.5rem;
}

.logo {
    margin-top: 5rem;
    height: 7rem;
}

.hidden {
    display: none;
}

main {
    margin-top: 18rem;
}

.links {
    border-bottom: dotted 0.125rem rgb(226, 207, 155);
    width: -moz-fit-content;
    width: fit-content;
}
.links:hover {
    color: rgb(170, 59, 133);
    border-bottom: dotted 0.125rem rgb(170, 59, 133);
}

.headline {
    color: rgb(170, 59, 133);
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.bText {
    font-size: 3rem;
    font-weight: bold;
    color: rgb(226, 207, 155);
    font-family: 'Roboto', sans-serif;
}

.sText {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(226, 207, 155);
}

.tText {
    font-size: .75rem;

}

.item {
    padding: 2rem;
    width: 30rem;
}
.itemImage {
    width: 30rem;
}

.project-container {
    margin-top: 30rem;
}

.projects {
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.skills {
    margin-top: 5rem;
}

.skills ul {
    list-style-type: none;
    width: 40rem;
    margin: 5rem  0 0 0;
}

.skills li{
    display: inline;
    width: fit-content;
}

.icon {
    filter: invert(1);
    margin: .5rem ;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(255, 255, 255),
        -2px -2px 5px rgb(100 , 100, 100);
}

.features {
    margin: 15rem 0 15rem 0;
}

.features li {
    margin-top: 2rem;
}

.features li h2 {
    margin-top: 1rem;
}

@media only screen and (max-width: 1500px) {
    * {
        font-size: 14px;
    }
}
@media only screen and (max-width: 1200px) {
    * {
        font-size: 12px;
    }
}
@media only screen and (max-width: 960px) {
    * {
        font-size: 10px;
    }
    body {
        margin: 0 3rem 0 3rem;
    }
    header {
        position: unset;
        border: none;
        margin: 0;
    }
}
@media only screen and (max-width: 500px) {
    .item {
        width: 20rem;
    }
    .itemImage {
        width: 20rem;
    }
}