* {
    margin: 0;
    padding : 0;
    font-size: 16px;
    text-decoration: none;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 18;
    left: 4rem;
    padding-right: 20px;
    border-right: solid 4px rgb(226, 207, 155);
}

body {
    display: block;
    margin: 0 25rem 0 14rem;
    background-color: rgb(54, 51, 43);
    color: rgb(151, 148, 148);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.logo {
    margin-top: 5rem;
    height: 80px;
}

main {
    margin-top: 18rem;
}

.links {
    border-bottom: dotted 2px rgb(226, 207, 155);
}

.headline {
    color: rgb(170, 59, 133);
    font-size: 6rem;
    font-weight: bold;
}

.bText {
    font-size: 4rem;
    font-weight: bold;
    color: rgb(226, 207, 155);
}

.sText {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(226, 207, 155);
}

.tText {
    font-size: .75rem;
}

.item {
    margin-left: 22rem;
    padding: 30px;
    width: 600px;
}
.itemImage {
    width: 600px;
}

.projects {
    margin-top: 30rem;

}